/*Variable*/
$lightgray-bkg: #faf8f5;
$dark-blue: #264065;
$turquoise: #a9d6cb;
$color: #fff;
$gray-medium: #909090;

/*   Fonts     */
$font-inter: "Inter", sans-serif;
$font-poppins: "Poppins", sans-serif;
/*mixin*/
@mixin button-dark-blue(){
    display: inline-block;
    padding: 10px 24px;
    color: $color;
    background-color: $dark-blue;
    border-radius: 1.2rem;
    text-decoration: none;
}

/*   reset    */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  background-color: $lightgray-bkg;
  font-family: $font-inter;
}
.body-wrapper{ 
    max-width: 1440px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    height: 100vh;
    &::before{
    content:  '';
    width: 35%;
    height: 75%;    
    background-color: $turquoise;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
    background-image: url(../img/seudo-bkg.svg);
    background-repeat: no-repeat;
    overflow-x: hidden;
    background-position: -200px center;
    }
  }
.header-main{  
  margin-right: 40px;
  margin-bottom: 40px;
  .container{
    margin-top: 40px;
    margin-left: 40px;
    margin-right: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    .navigation-container{
      .navigation{
        .navigation-ul{
          display: flex;
          list-style: none;
          gap: 50px;
          li>a{
            font-family: $font-poppins;
            font-weight: 500;
            text-decoration: none;
            color: $dark-blue;
          }
          li>a:hover{
            font-weight: 700;
            text-decoration: underline;
            color: $turquoise;
            text-underline-offset: 4px;
          }
          li > a:hover svg path {
            stroke: $turquoise;
          }
        }
      }      
    }
    .buttons-container{
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 25px;
      a.button-svg svg:hover{
        fill:$color;
      }
      a.button1{
        color: $dark-blue;
        text-underline-offset: 4px;
      }
      a.button1:hover{
        @include button-dark-blue();
      }
      a.button2{
        @include button-dark-blue();
      }
      a.button2:hover{
        background-color: transparent !important; 
        color: $dark-blue !important;
        text-decoration: underline;
        text-underline-offset: 4px;
      }
    }
  }
}
.heroe-container{
  margin-left: 40px;
  width: 100%;
  max-width: none;
  display: grid;
  grid-template-columns: 1fr 1fr;
  .heroe-left-column{    
    display: flex;
    flex-direction: column;
    gap: 30px;
    h1{
      margin-top: 40px;
      display: inline-block;
      font-family: $font-poppins;
      font-weight: 800;
      font-size: 3.5rem;
      color: $dark-blue;
      line-height: 4.5rem;
    }
    h3{
      font-family: $font-poppins;
      font-weight: 300;
      font-size: 1.3rem;
      color: $gray-medium;
      line-height: 2rem;
    }
    .heroe-buttons-container{
      display: flex;
      gap: 20px;
      align-items: center;
      justify-content: flex-start;
      a.button1{
        @include button-dark-blue();
      }
      a.button1:hover{
        background-color: transparent !important; 
        color: $dark-blue !important;
        text-decoration: underline;
        text-underline-offset: 4px;
        transition: fill .3s ease;
      }
      a.button2{
        display: flex;
        align-items: center;
        gap: 10px;
        color: $dark-blue;
        text-decoration: none;
        svg{
          fill: $dark-blue; 
        }
      }
      a.button2:hover{
        color: $turquoise;
        text-decoration: underline;
        text-underline-offset: 4px;
        svg{
          fill: $turquoise;          
        }
        transition: fill .3s ease;
      }
      
      
    }
    .heroe-cards{
      background-color: $color;
      width: 80%;
      display: flex;
      align-items: center;
      justify-content: space-between;
      border-radius: 15px;
      padding: 20px;
      .heroe-cards-info{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 10px;
        padding-left: 10px;
        padding-right: 10px;
        h2{
          color: $dark-blue;
          font-family: $font-poppins;
          font-size: 1.8rem;
          font-weight: 400;
          margin-bottom: 0;
          padding-bottom: 0;
        }
        h3{
          color: $gray-medium;
          font-family: $font-poppins;
          font-size: 0.8rem;
          line-height: 1rem;
          text-align: center;
        }
        .heroe-cards-info-svg{
          background-color: $turquoise;
          border-radius: 50%;
          width: 60px;
          height: 60px;
          display: flex;
          align-items: center;
          justify-content: center;
          svg{
            fill: $dark-blue;
          }
        }
      }
    }
  }
  .heroe-right-column{
    position: relative;
  }
}    