/*Variable*/
/*   Fonts     */
/*mixin*/
/*   reset    */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #faf8f5;
  font-family: "Inter", sans-serif;
}

.body-wrapper {
  max-width: 1440px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  height: 100vh;
}
.body-wrapper::before {
  content: "";
  width: 35%;
  height: 75%;
  background-color: #a9d6cb;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
  background-image: url(../img/seudo-bkg.svg);
  background-repeat: no-repeat;
  overflow-x: hidden;
  background-position: -200px center;
}

.header-main {
  margin-right: 40px;
  margin-bottom: 40px;
}
.header-main .container {
  margin-top: 40px;
  margin-left: 40px;
  margin-right: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header-main .container .navigation-container .navigation .navigation-ul {
  display: flex;
  list-style: none;
  gap: 50px;
}
.header-main .container .navigation-container .navigation .navigation-ul li > a {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  text-decoration: none;
  color: #264065;
}
.header-main .container .navigation-container .navigation .navigation-ul li > a:hover {
  font-weight: 700;
  text-decoration: underline;
  color: #a9d6cb;
  text-underline-offset: 4px;
}
.header-main .container .navigation-container .navigation .navigation-ul li > a:hover svg path {
  stroke: #a9d6cb;
}
.header-main .container .buttons-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 25px;
}
.header-main .container .buttons-container a.button-svg svg:hover {
  fill: #fff;
}
.header-main .container .buttons-container a.button1 {
  color: #264065;
  text-underline-offset: 4px;
}
.header-main .container .buttons-container a.button1:hover {
  display: inline-block;
  padding: 10px 24px;
  color: #fff;
  background-color: #264065;
  border-radius: 1.2rem;
  text-decoration: none;
}
.header-main .container .buttons-container a.button2 {
  display: inline-block;
  padding: 10px 24px;
  color: #fff;
  background-color: #264065;
  border-radius: 1.2rem;
  text-decoration: none;
}
.header-main .container .buttons-container a.button2:hover {
  background-color: transparent !important;
  color: #264065 !important;
  text-decoration: underline;
  text-underline-offset: 4px;
}

.heroe-container {
  margin-left: 40px;
  width: 100%;
  max-width: none;
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.heroe-container .heroe-left-column {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.heroe-container .heroe-left-column h1 {
  margin-top: 40px;
  display: inline-block;
  font-family: "Poppins", sans-serif;
  font-weight: 800;
  font-size: 3.5rem;
  color: #264065;
  line-height: 4.5rem;
}
.heroe-container .heroe-left-column h3 {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-size: 1.3rem;
  color: #909090;
  line-height: 2rem;
}
.heroe-container .heroe-right-column {
  position: relative;
}/*# sourceMappingURL=style.css.map */